.little-lemon-header {
    display: flex;
    align-items: center;
    justify-content: center;
}

.little-lemon-header div {

    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 70%;
}

ul.list-menu {
    list-style: none;
    margin: 10px    ;
}

ul.list-menu li.list-item {

}

.h-space-item {
    margin: 0 10px;
}

.v-space-item {
    margin: 10px 0;
}

.d-inline {
    display: inline;
}

ul.list-menu li.list-item a.link {
    text-decoration: none;
    color: black;
    font-weight: 500;
}

footer.little-lemon-footer {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
}

nav.little-lemon-navbar-mobile-mode {
    display: none;
}

#navbar-mobile-mode-container {
    /*display: none;*/
}

main{
    overflow: hidden;
}

.hide {
    display: none;
}

.show {
    display: block !important;
}

@media only screen and (max-width: 576px) {
    .little-lemon-header div {
        width: 100%;
        padding: 10px;
    }

    .little-lemon-header {
        display: block;
    }

    nav.little-lemon-navbar-mobile-mode {
        display: block;
    }

    #main-image{
        position: initial !important;
        margin: 5px auto 30px auto;
    }
}

@media only screen and (max-width: 670px) {
    .little-lemon-header div {
        width: 100%;
        padding: 10px;
    }

    .little-lemon-header {
        display: block;
    }

    .little-lemon-navbar {
        display: none;
    }

    nav.little-lemon-navbar-mobile-mode {
        display: block;
    }

    #main-image{
        position: initial !important;
        margin: 5px auto 30px auto;
    }

}

@media only screen and (max-width: 768px) {
    .little-lemon-header div {
        width: 100%;
        padding: 0 10px;
    }

    .little-lemon-header {
        display: block;
    }

    #main-image{
        position: initial !important;
        margin: 5px auto 30px auto;
    }
}

@media only screen and (max-width: 1270px) {
    .little-lemon-header div {
        width: 90%;
        padding: 10px;
    }

    #navbar-mobile-mode-container {
        display: none;
    }
}

@media only screen and (min-width: 1271px) {

    #navbar-mobile-mode-container {
        display: none;
    }
}

